/* Colores -- Globales */
$color-text-w: #FFFFFF;
$color-text-b: #000000;
$calmClarity: #C47B59;

/* Colores -- nav */
$nav-bg: #167F8B;
$nav-bg-fixed: #FFFFFF;

/* Color - icons */
$icon-color: #FFFFFF;

/* Colores -- header */
$header-bg-top: #167F8B;
$header-bg-bottom: #97D6E3;

/* Colores -- Logos */
$logos-bg: #F2FAF5;

/* Colores -- Shop by function */
$function-item1: #005466;
$function-item2: #F7D8BF;
$function-item3: #F1FAF6;
$function-idealState: #64BAA1;

/* Colores -- Energy & Focus */
$energy-bg-primary: #005466;
$energy-bg-secondary: #932610;
$energy-color-secondary: #FECB8B;

/* Colores -- Calm & Clarity */
$calm-bg-primary: #F7D8BF;
$calm-bg-secondary: #F9DFBD;
$calm-color-secondary: #EF9632;

/* Colores -- Our Mission */
$our-bg: #FCF2F0;

/* Colores -- There’s a science to the science. */
$science-bg: #64BAA1;
$science-a: #328A71;

/* Colores -- Refresh your state of mind. */
$refresh-bg-primary: #1C3631;
$refresh-bg-secondary: #294240;
